@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



/* shopping list */

.shopping_list {
  margin: 20px;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

.shopping_list li {
  margin-top: 20px;
  list-style: none;
}

.shopping_list li p {
  margin-top: 7px;
  list-style: none;
}

.name {
  font-weight: 600;
}

.price {
  font-weight: 600;
}


/* shopping cart */
.cart {
  margin-top: 60px;
}

.cart h2 {
  margin-bottom: 30px;
}